/* 焦点图 */
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td {
	margin:0;
	padding:0;
}
body {
	font-size:16px;
	font-family:"微软雅黑",Helvetica;
	overflow-x:hidden;
}
img {
	border:none;
}
.slidest .slide .slide-left img {
	min-height:250px;
	*height:250px;
}
*,*:before,*:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.clearfix:before,.clearfix:after {
	content:" ";
	display:table;
}
.clearfix:after {
	clear:both;
}
.example-slide {
	width:716px;
	height:274px;
	position:relative;
}
.example-slide .slidest {
	position:absolute;
	z-index:100;
	width:716px;
}
.slidest .slides_container .slide-all {
	float:left;
	width:716px;
}
.slides_container .slide-all a {
	width:100%;
	display:block;
	overflow:hidden;
}
.slides_container .slide-all a img {
	width:100%;
}
.slidest .caption {
	z-index:500;
	position:absolute;
	left:0;
	background:url(../images/whitebg.png) repeat;
	color:#fff;
	bottom:0;
	height:38px;
	width:100%;
	_height:58px;
}
.slidest .caption p {
	height:38px;
	line-height:38px;
	padding-left:10px;
}
.slidest .slides_container .slide-left {
	float:left;
	width:344px;
}
.slidest .slides_container .slide-right {
	float:right;
	position:relative;
	width:352px;
	padding-left:20px;
	_padding-left:10px;
}
.slides_container .slide-left img {
	width:344px;
	display:block;
	overflow:hidden;
}
.slidest .slides_container {
	width:716px;
	overflow:hidden;
	position:relative;
	display:none;
}
.slidest .slides_container .slide {
	width:716px;
	height:250px;
	display:block;
}
.slidest .prev {
	position:absolute;
	display:block;
	z-index:100;
	background:url(../images/topicarrow.png) 0px 0px;
	top:85px;
	width:40px;
	height:60px;
	*left:0px;
}
.slidest .next {
	right:0px;
	position:absolute;
	display:block;
	z-index:100;
	background:url(../images/topicarrow.png) 40px 0px;
	top:85px;
	width:40px;
	height:60px;
}
.slidest a.next:hover {
	background:url(../images/topicarrow_hover.png) 40px 0px;
}
.slidest a.prev:hover {
	background:url(../images/topicarrow_hover.png) 0px 0px;
}
.slidest .pagination {
	margin-left:290px;
	padding-left:60px\9;
	height:4px;
	padding:10px 0;
}
.slidest .pagination li {
	float:left;
	margin:0 2px;
	list-style:none;
}
.slidest .pagination li a {
	width:30px;
	height:0;
	padding-top:4px;
	background-color:#ddd;
	float:left;
	overflow:hidden;
}
.slidest .pagination li.current a {
	background-color:#2498ff;
	width:50px;
}
.slidest:hover  a.prev {
	background:url(../images/topicarrow_hover.png) 0px 0px;
}
.slidest:hover a.next {
	background:url(../images/topicarrow_hover.png) 40px 0px;
}
/*右边文字*/
.slide-right .hotinfo-tit {
	text-align:left;
	padding:10px 5px;
	font-size:22px;
	font-weight:bold;
	line-height:30px;
	font-family:微软雅黑;
	font-style:normal;
}
.slide-right .hotinfo-desc {
	font-size:12px;
	line-height:15px;
	margin-top:10px;
}
.slide-right .hotinfo-item {
	font-size:12px;
	padding:10px 0;
	position:relative;
	margin-top:10px;
}
.slide-right .hotinfo-item img {
	display:inline-block;
	width:32px;
	height:32px;
	border-radius:100%;
	margin-right:10px;
	vertical-align:middle;
	overflow:visible;
}
.slide-right .p-color,.p-color:hover,.p-color a,.p-color a:hover {
	color:#2498fd;
}
.left {
	float:left;
}
.slide-right .hotinfo-item .hotinfo-link {
	position:absolute;
	width:90px;
	height:34px;
	top:10px;
	right:0;
}
.slide-right .author {
	padding-bottom:3px;
}
.slide-right .author p a {
	font-size:12px;
	text-decoration:none;
}
.slide-right .hotinfo-link .button {
	padding:8px 20px;
	font-size:12px;
	display:inline-block;
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	font-weight:normal;
	line-height:normal;
	position:relative;
	text-decoration:none;
	text-align:center;
	background-color:#2498fd;
	border-color:#2498fd;
	color:#ffffff;
}
.slide-right img.doublearrow {
	height:12px;
	width:12px;
	position:absolute;
	margin-top:3px;
}
